- if can?(:create, @user) || can?(:update_profile, @user)
  = form.input :email
  = form.input :last_name
  = form.input :first_name
- if can? :create, @user
  = form.input :password, :as => :password
  = form.input :password_confirmation, :as => :password
- if can? :update_role, @user
  = form.input :role, :collection => UserMaintenance::User.valid_roles_map, :include_blank => false
- if can? :update_profile, @user
  = form.button :submit, 'Update Profile'
  = link_to 'Cancel', profile_path
- else
  = form.button :submit
  = link_to 'Cancel', cancel_url
