%h1 Listing users

%table{:class => 'table table-striped'}
  %thead
    %th Name
    %th Email
    %th Role
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to "#{user.last_name}, #{user.first_name}", user_path(user)
        %td= mail_to user.email
        %td
          - user.roles.each do |role|
            = role.to_s.humanize

%br

= link_to 'New User', new_user_path
